body {
  margin: 0;
  background-image: url("Image.jpg");
  background-size: cover;
  background-position: center;
}

.hero {
  height: 100vh;
  width: 100vw;
  display: grid;
  align-items: center;
  justify-items: center;
  margin-bottom: 15rem;
}

.header {
  color: rgb(95, 51, 51);
}
.my-text {
  font-family: "Dancing Script", sans-serif;
}

.padding-right-1 {
  padding-left: 30px;
}
.padding-right-2 {
  padding-left: 15px;
}
